/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mysql-apt-config_0.8.0-1_all
mysql-apt-config_0.8.0-1_all.deb